* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-gap: 10px;
  background-color: rgb(218, 47, 207);
  grid-template-columns: 1fr 3fr 1fr;
  padding: 10px;
}

.item {
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
  color: white;
}

.item1 {
  background-color: yellow;
}

.item2 {
  background-color: rgb(42, 236, 42);
}

.item3 {
  background-color: yellow;
}
