body {
  box-sizing: border-box;
  background-color: lightgrey;
  padding-top: 30px;
}

h1 {
  background-color: white;
  font-size: 20px;
}

.form-container {
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: white;
  justify-content: center;
  font-family: sans-serif;
}

label {
  font-size: 10px;
  position: relative;
}

label input {
  width: 100%;
  margin-bottom: 20px;
}

form input[type='submit'] {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 30%;
}

.forgot-password {
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
}

a {
  color: grey;
  font-size: 10px;
}

label img {
  position: absolute;
  width: 10px;
  top: 20px;
  right: 11px;
}
